@import '../../../style/colors';

.container {
  margin-right: 8px;
  display: inline-block;
  width: 28px;
}

.pin {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;

  &+& {
    margin-left: 2px;
  }
}

.grey {
  background-color: $primary-grey;
}

.green {
  background-color: $primary-green;
}

.red {
  background-color: $primary-red;
}
