// primary colors
$primary-blue: #002CFB;
$primary-green: #28A879;
$primary-red: #EA1A4F;
$primary-grey: #ADBFDF;
$primary-active: #274BC8;

$secondary-grey: #D8E4FB;

//pale colors
$pale-grey: #F1F4F9;
$pale-red: #FEE9EF;
$pale-green: #DBF8EF;

// text color
$text-primary: #122945;
$text-blue: #002CFB;
$text-pale: #899CB1;

$common-white: #ffffff;
