@import '../../style/colors';
@import '../../style/common';

.container {
  @include space-between-center;
  min-width: 145px;
  height: 40px;
  padding: 8px 12px;
  background-color: $common-white;
  border-radius: 48px;
  color: $text-primary;
  cursor: pointer;
  margin-right: 48px;

  &>svg {
    fill: $text-blue;
  }

  &:hover {
    color: $primary-blue;
    &>svg {
      fill: #005FF8;
    }
  }

  &:active {
    &>svg {
      fill: $primary-active;
    }
    color: $text-primary;
  }

}

.header {
  color: $text-pale;
}